<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
  <link href="/css/reg_form.css" rel="stylesheet" type="text/css" media="all">
  <link href="/css/profile.css" rel="stylesheet">
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!--   <script src="/js/manager_dashboard.js"></script>   -->
  <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">


</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="http://localhost:3000/doctor">H Manager</a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="http://localhost:3000/doctor">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="http://localhost:3000/doctor/appointment">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Appointment</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="http://localhost:3000/doctor/patients">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Patient List</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="http://localhost:3000/doctor/settings">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Account Settings</span>
          </a>
        </li>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="http://localhost:3000/manager">Doctor</a>
        </li>
        <li class="breadcrumb-item active">Patient List</li>
      </ol>
      <!-- Example DataTables Card-->
      <div style="margin-top: 30px" class="agile-header">
    <h1 style="font-size: 38px">SEARCH PATIENT REPORT</h1>
    <div class="agileits-main">
    <div class="wrap">
    <form style="width: 50%; margin-left: 230px;" method="post">
  <div class="form-group">
    <label for="exampleInput">Patient ID</label>
    <input name="pid" type="text" class="form-control" id="pid" aria-describedby="emailHelp" placeholder="Patient ID" required>
  </div>
  <div class="form-group">
    <label for="exampleInput">Date Of Appointment</label>
    <input name="date" type="date" class="form-control" id="date" aria-describedby="emailHelp" required>
  </div>
  <button type="submit" class="btn btn-primary">SEARCH</button>
    </form>
    <% if(error){ %>
      <div><label style="color: red; text-align: center;">RECORD DOES NOT EXIST</label></div>
    <% } %>
    
    </div>  
  </div>
  </div>

    

    </div>

    <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> List of All Patients
        </div>

        <div class="card-body">
          <div class="table-responsive">

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

              <thead>
                <tr>
                  <th>Patient ID</th>
                  <th>Patient Name</th>
                  <th>Date Of Appointment</th>
                  <th>Gender</th>
                  <th>Contact</th>
                  <th>Doctor ID</th>
                  <th>Doctor Name</th>
                  <th>Room ID</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Patient ID</th>
                  <th>Patient Name</th>
                  <th>Date Of Appointment</th>
                  <th>Gender</th>
                  <th>Contact</th>
                  <th>Doctor ID</th>
                  <th>Doctor Name</th>
                  <th>Room ID</th>
                  <th>Status</th>
                </tr>
              </tfoot>
              <tbody>
                <% for(var i = 0; i < list.length; i++){ %>
                    <tr>
                      <td><%= list[i].id %></td>
                      <td><%= list[i].name %></td>
                      <td><%= list[i].doa.getDate() %> - <%= list[i].doa.getMonth() + 1 %> - <%=list[i].doa.getFullYear()%></td>
                      <td><%= list[i].sex %></td>
                      <td><%= list[i].contact %></td>
                      <td><%= list[i].d_id %></td>
                      <td><%= list[i].d_name %></td>
                      <td><%= list[i].room %></td>
                      <td><%= list[i].status %></td>
                    </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="http://localhost:3000/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="/js/sb-admin-datatables.min.js"></script>
    <script src="/js/dropdown_script.js"></script>
  </div>
</body>

</html>
